*{
    margin: 0;
}

.navbar{
    display: flex;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #14213D; */

    padding: 10px;
}
.navbar a{
    color: #cacaca;
    text-decoration: none;
    transition: color 0.4s ease; 
}
.navbar a:hover{
    color: #474340;
}

.nav-links{
    list-style: none;
    display: flex;
    
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: #cacaca;
}

.nav-item{
    margin-right: 2rem;
    position: relative;
    text-align: center;

    /* ESTILO: agrega linea superior e inferior a texto de boton */
    /* ?? tal vez mover a nav-links ?? */
}   

.logo{
    width: 120px;
}

/* --- --- --- ---  */
/*  HAMBURGER MENU  */
/* --- --- --- ---  */

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .navbar .nav-item {
      display: none; /* Hide full nav menu */
}

.hamburger-menu {
    display: block; /* Show hamburger icon */
}
}