*{
    margin: 0;
}

.navbar{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    /* background-color: #14213D; */

    padding: 10px;
}
.navbar a{
    color: #cacaca;
    text-decoration: none;
    transition: color 0.4s ease; 
}
.navbar a:hover{
    color: #474340;
}

.nav-links{
    list-style: none;
    display: flex;
    
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: #cacaca;
}

.nav-item{
    margin-right: 2rem;
    position: relative;
    text-align: center;

    /* ESTILO: agrega linea superior e inferior a texto de boton */
    /* ?? tal vez mover a nav-links ?? */
}   

.logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
}

.logo-container h1{
    color: #2c3987;
}

/* --- --- --- ---  */
/*  HAMBURGER MENU  */
/* --- --- --- ---  */

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .navbar .nav-item {
        display: none; /* Hide full nav menu */
        
}

    .nav-links {
        border-top-style: none;
        border-bottom-style: none;
    }

.hamburger-menu {
    display: block; /* Show hamburger icon */
}
}